/* PHASE 0: Sidebar */

.profile-picture {
    position: relative;
    margin-top: -120px;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

.profile-info {
    margin: 20px 0px;
}

.profile-info h1 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.profile-info p {
    font-size: 15px;
    font-weight: 400;
}

.profile-nav {
    border-top: 1px solid grey;
    margin-bottom: 20px;
}

.profile-nav li {
    border-bottom: 1px solid grey;
    padding: 5px;
    font-weight: bold;
}

.profile-nav li:hover {
    background-color: lightgray;
}

/* editing this file to commit */

